@model IEnumerable<AppSeedCode.Models.Role>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<h1 class="text-center">Gestión de Roles</h1>
<hr />

<p>
    <a class="btn btn-success" asp-action="Create"><i class="bi bi-plus-square"></i> Nuevo Rol</a>
</p>
<table class="table table-striped text-center">
    <thead class="table-dark text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Editar</a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-card-heading"></i> Detalles</a> 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-x-circle"></i> Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
